.mozilladummy {font-size: 12pt}
.title {font-family: Verdana; font-weight: bold; font-size: 19pt; color: #003E98}
.subtitle {font-family: Verdana; font-weight: bold; font-size: 16pt; color: #003E98}
.author {font-family: Verdana; font-weight: bold; font-size: 13px; color: #000000 }
.code {font-family: Courier New; font-size: 13px; color: #000088}
.vbcode {font-family: Courier New; font-size: 11px; color: #000088}
.codecomment {font-family: Courier New; font-size: 13px; color: #008800}
.codekeyword {font-family: Courier New; font-size: 13px; color: #0000ff}
BODY, DIR, BLOCKQUOTE, P, OL, TD, DL, UL, DD {font-family: Verdana; font-size: 13px; color: #000000}
.tblhdr {font-family: Verdana; font-size: 10pt; color: #FFFFFF; font-weight: bold; background: #666699 }
.maintext-1 {font-family: Verdana; font-size: 12px; color: #000000}
.maintext-2 {font-family: Verdana; font-size: 11px; color: #000000}
.caption {font-family: Verdana; font-size: 11px; color: #000000; font-weight: bold}
.inlinebox {border: solid #000000 1px; background: #CCDDEE; padding: 10px}
H1 {font-family: Verdana; font-size: 22px; font-weight: bold; color: #00983E}
H2 {font-family: Verdana; font-size: 18px; font-weight: bold; color: #3E0098}
H3 {font-family: Verdana; font-size: 15px; font-weight: bold; color: #800040}

A:link {text-decoration: underline; color: #666699}
A:visited {text-decoration: underline; color: #666699}
A:active {text-decoration: none; color: #000000}
A:hover {text-decoration: none; color: #AAAADD}

body { margin: 0; padding-top: 25px; background-color: #FFFFFF; background-image: url("../reference/pics/watermark.gif"); }
#header { position: absolute; left: 0; right: 0; top: 0; height: 17px; padding: 3px; background-color: #666699; color:white; font-family: Verdana; font-size: 10pt; font-weight: bold; }
#header a { float: right; display: block; position: relative; left: -10px; text-decoration: none; color: White;}
#header a:before { content: url('../reference/pics/littleg.gif'); vertical-align: middle; width: 16px; height: 16px; margin-right: 5px; }